@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*::-moz-selection {
  /* Code for Firefox */
  color: #e7816d;
  background: #78b5a3; }

*::selection {
  color: #e7816d;
  background: #78b5a3; }

a {
  text-decoration: none;
  color: #e7816d;
  font-size: 1.25rem; }
  a:hover {
    text-decoration-line: underline;
    opacity: 0.8; }
  a:focus {
    outline-color: #78b5a3;
    text-decoration-line: underline; }

img {
  max-width: 100%;
  vertical-align: middle; }

body {
  margin-top: 70px;
  z-index: -1;
  overflow-x: hidden; }

nav {
  z-index: 1; }

body::-webkit-scrollbar {
  width: 15px; }

body {
  scrollbar-width: thin;
  scrollbar-color: #fff #e7816d; }

body::-webkit-scrollbar-track {
  background: #fff; }

body::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 6px;
  border: 3px solid #e7816d; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif; }

body {
  font-family: "Roboto", sans-serif; }

.herotitle {
  font-size: clamp(2.5rem, 8vw, 4.5rem);
  margin-bottom: 1rem; }

.herotext {
  font-size: clamp(1.25rem, 2vw, 2rem);
  line-height: 1.6; }

.content {
  font-family: "Montserrat", sans-serif; }

nav {
  padding: 0.25rem 0 0.25rem 0;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 25; }
  nav a {
    display: inline-block;
    text-decoration: none; }

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

.brand {
  max-width: 250px; }

.nav-links {
  list-style-type: none;
  display: flex;
  width: 60%;
  justify-content: space-between; }
  .nav-links a {
    height: 100%;
    position: relative;
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.25rem; }
  .nav-links a::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #78b5a3;
    opacity: 0.8;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 350ms ease; }
  .nav-links a:hover::after, .nav-links a:focus::after {
    transform: scaleX(1); }

.burger {
  display: none; }

.burger div {
  width: 25px;
  height: 2px;
  background-color: #78b5a3;
  margin: 5px;
  transition: all 0.3s ease; }

@media screen and (max-width: 768px) {
  .burger {
    display: block;
    cursor: pointer; }
  .nav-links {
    display: none;
    position: absolute; } }

.nav-active {
  position: absolute;
  right: 0px;
  top: 80px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  height: auto;
  width: 100%;
  padding-bottom: 0.5rem; }
  .nav-active li {
    opacity: 0;
    margin: 1.5vh 0 1.5vh 0; }

@keyframes navlinksfade {
  from {
    opacity: 0;
    transform: translatex(50px); }
  to {
    opacity: 1;
    transform: translatex(0%); } }

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px); }

.toggle .line2 {
  opacity: 0; }

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px); }

.nav-not-scrolled {
  background-color: #ffffff;
  transition: all 1500ms ease; }

.scrolled {
  background-color: red; }

.nav-scrolled {
  background-color: #fafafa;
  color: black;
  box-shadow: 0px 3px 3px rgba(120, 181, 163, 0.9);
  transition: 1500ms; }
  .nav-scrolled a {
    color: black;
    transition: color 1500ms; }

.navbtn {
  background: none;
  border: none; }

@media (min-width: 769px) {
  .sub-menu-xl {
    position: relative;
    cursor: pointer;
    pointer-events: all; }
  .sub-menu-content-xl {
    margin-top: 1rem;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5rem;
    align-items: center;
    position: absolute;
    background-color: antiquewhite;
    border-radius: 0.15rem;
    opacity: 0;
    -webkit-transform: translatey(-10px);
    transform: translatey(-10px);
    pointer-events: none;
    transition: all 0.4s ease; }
    .sub-menu-content-xl::before {
      position: absolute;
      top: -0.25rem;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      content: "";
      height: 1rem;
      width: 1rem;
      border-radius: 0.15rem;
      background: antiquewhite; }
  .sub-menu-xl:focus + .sub-menu-content-xl {
    opacity: 1;
    pointer-events: all;
    transform: translatey(0);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out; } }

@media (max-width: 768px) {
  .sub-menu-content {
    display: none; }
    .sub-menu-content a {
      width: 100%;
      text-align: center; }
  .sub-menu {
    width: 100vw;
    text-align: center;
    cursor: pointer; } }

@media (max-width: 768px) {
  .sub-menu-active {
    position: relative;
    width: 100%;
    background-color: rgba(226, 226, 226, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.5rem;
    gap: 0.5rem; } }

.btn {
  padding: 0.25em 1em;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #e7816d;
  border: 1px solid #e7816d;
  text-decoration: none; }
  .btn:hover {
    opacity: 0.9;
    text-decoration: none; }
  .btn:active {
    opacity: 0.9; }
  .btn:focus {
    /*Input Focus Settings*/
    outline: none;
    box-shadow: 0 0 2pt 1pt #E66D4C;
    transition: box-shadow 250ms ease;
    text-decoration: none; }

.herobtn {
  background-color: #fff;
  color: #e7816d;
  border: 1px solid #78b5a3;
  text-transform: uppercase;
  font-size: 1.5rem; }
  .herobtn:focus {
    box-shadow: 0 0 2pt 1pt #f3e7e7; }

.featurecardbtn, button {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  transition: box-shadow 150ms ease-in-out; }
  .featurecardbtn:hover, .featurecardbtn:focus, button:hover, button:focus {
    box-shadow: 0 0 0;
    transition: box-shadow 150ms ease-in-out; }

.card {
  position: relative;
  z-index: -1;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 1rem; }
  .card img {
    vertical-align: middle;
    width: 500px;
    height: 350px;
    object-fit: cover; }

@media (min-width: 768px) {
  .cardcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5rem; }
  .card img {
    height: 300px; } }

.cardtext {
  position: absolute;
  bottom: 0;
  background: rgba(231, 129, 109, 0.7);
  padding: 2rem;
  color: #78b5a3;
  width: 100%; }

.pricelist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 1.5rem;
  row-gap: 1.5rem; }

.pricecard {
  border: 1px solid #78b5a3;
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
  color: #805d54; }

.pricecard-body {
  padding: 1.25rem; }

.pricecard-price, .pricecard-title, .pricecard-text, .pricecard-price-subtitle {
  padding: 1.25rem 0 1.25rem 0;
  text-align: center; }

.pricecard-title {
  background-color: rgba(231, 129, 109, 0.4);
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  line-height: 0.9;
  text-transform: uppercase; }

.pricecard-price {
  color: #E66D4C;
  font-size: 2rem;
  font-family: "Pinyon Script", cursive; }

.pricecard-price-subtitle {
  padding-top: 0; }

.pricecard-text {
  line-height: 1.35;
  font-family: "Montserrat", sans-serif; }

.featurecard {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem; }
  .featurecard i {
    font-size: 2rem; }

.featurecard-title {
  font-size: 2rem; }

.servicecardgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  gap: 1.5rem; }

.servicecard {
  border-top: 5px solid #78b5a3;
  border-radius: 0.25rem; }

.servicecard-header,
.servicecard-pricing,
.servicecard-features,
.featurecard-cta {
  border-bottom: 1.5px solid #e7816d;
  padding: 1.5rem; }

.servicecard-features ul {
  list-style-type: none; }

.active::before,
.inactive::before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  margin-right: 0.25rem;
  font-size: 0.9rem;
  width: 1rem; }

.inactive {
  color: #929191; }
  .inactive::before {
    content: "\f00d"; }

.form-text {
  display: none; }

.inputwrapper {
  /*Input Flex Container*/
  display: flex;
  margin-bottom: 1rem; }

.input-prepend,
.input,
button {
  background-color: #fafafa;
  border: 1px solid #e7816d;
  font-family: "Roboto", sans-serif; }
  .input-prepend:focus,
  .input:focus,
  button:focus {
    background: white; }

.input-prepend {
  /*Input Icon Helper*/
  width: 40px;
  height: 38px;
  padding: 1rem 1rem;
  color: #e7816d;
  border-right: 0;
  border-radius: 0.25rem 0 0 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.input {
  /*Basic Input field Settings for all form boxes*/
  padding: .375rem .75rem;
  border: 1px solid #e7816d; }

.textarea {
  width: 100%;
  min-height: 250px;
  margin-bottom: 1rem;
  padding: .375rem .75rem;
  resize: none;
  border-radius: 0.25rem; }
  @media (min-width: 768px) {
    .textarea {
      height: 100%; } }

.input:focus {
  /*Input Focus Settings*/
  outline: none;
  box-shadow: 0 0 2pt 1pt #E66D4C;
  transition: box-shadow 250ms ease; }

.text-input {
  /*Text Box Input Settings*/
  flex-grow: 1;
  width: 100%;
  border-radius: 0 0.25rem 0.25rem 0; }

.email-input {
  /*email  Input Settings*/
  flex-grow: 1;
  width: 100%;
  border-radius: 0 0.25rem 0.25rem 0; }

.formrow {
  margin-bottom: 1rem; }

.formcolumn {
  width: 100%;
  padding: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch; }

.formsubmit {
  padding-top: 0;
  padding-bottom: 1em; }

@media (min-width: 768px) {
  .formrow {
    display: flex;
    flex-direction: row;
    gap: 0.5rem; }
  .formcolumn {
    justify-content: space-between; }
  .inputwrapper {
    margin-bottom: 1rem; } }

.form-check {
  display: block; }

.check-input,
.check-label {
  appearance: none;
  cursor: pointer;
  color: inherit; }

.check-input {
  margin-right: 0.5em;
  width: 1rem;
  height: 1rem;
  border: 1px solid #e7816d;
  border-radius: 0.25rem; }
  .check-input:checked {
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
  .check-input:focus {
    outline: none;
    box-shadow: 0 0 2pt 1pt #E66D4C;
    transition: box-shadow 250ms ease; }

.check-label {
  display: block; }

.form-radio {
  border: 1px solid #e7816d;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem; }
  .form-radio:hover {
    background-color: rgba(236, 236, 236, 0.685);
    box-shadow: 0 0 2pt 1pt #E66D4C;
    transition: box-shadow 250ms ease; }

.radio-input,
.radio-label {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  appearance: none;
  cursor: pointer; }

.radio-input {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  margin-right: 0.5em;
  width: 1rem;
  height: 1rem;
  border: 1px solid #e7816d;
  border-radius: 50px; }
  .radio-input:checked[type=radio] {
    background-image: url("../img/dot-circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
  .radio-input:focus {
    outline: none;
    box-shadow: 0 0 2pt 1pt #E66D4C;
    transition: box-shadow 250ms ease; }

.radio-label {
  display: block; }

.textbox {
  border: 1px solid #78b5a3;
  background-color: #fff;
  padding: 4rem 2rem 4rem 2rem;
  border-radius: 0.5rem; }
  .textbox a::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f061";
    margin: 0 0.5rem 0 0.5rem;
    position: absolute;
    transform: translatex(0px);
    transition: transform 350ms ease-in-out; }
  .textbox a:hover::after {
    transform: translatex(5px);
    transition: transform 350ms ease-in-out; }
  .textbox a:focus {
    outline-color: #78b5a3;
    text-decoration-line: underline; }
    .textbox a:focus::after {
      transform: translatex(5px);
      transition: transform 350ms ease-in-out; }

.textbox-title {
  font-size: clamp(1.5rem, 25vw, 2rem);
  font-weight: 500;
  color: #e7816d; }

.textbox-text {
  line-height: 1.8;
  font-weight: 300;
  margin-block-end: 1rem; }

.textbox-subtitle {
  font-size: 1.25rem;
  line-height: 1.8;
  color: #242424;
  font-weight: 300; }

.textbox-title,
.textbox-subtitle {
  margin-bottom: 1rem; }

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.mos--img {
  width: 100%;
  height: 300px;
  object-fit: cover; }

.mos-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0 3rem 0; }

.containerfw {
  width: 100%; }

.nav-container {
  width: 95%;
  margin: 0 auto; }

.staff-container h1, .staff-container p {
  margin: 0.5rem 0 0.5rem 0; }

.staff-container h1 {
  letter-spacing: 2px; }

.staff-container p {
  line-height: 1.5; }

.banner {
  text-align: center;
  color: #242424; }
  .banner h1 {
    font-size: clamp(2.5rem, 5vw, 4.5rem); }
  .banner h3 {
    font-size: clamp(1.5rem, 1.5vw, 2.7rem); }
  .banner p {
    font-size: 1.25rem; }
  .banner h3, .banner p {
    font-family: "Roboto", sans-serif;
    font-weight: 400; }

.clipped {
  clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 5vw), 0 100%);
  margin-bottom: clamp(-20vw, -5vw, -25px);
  z-index: 1; }

.afterclipped {
  position: relative;
  z-index: 0; }

@media (min-width: 800px) {
  .gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem; }
    .gridcontainer img {
      height: 100%;
      object-fit: contain; }
  .firstitem {
    grid-column: 1/2;
    grid-row: 1/1;
    z-index: 1; }
  .seconditem {
    grid-column: 2/3;
    grid-row: 1/1;
    z-index: 1; }
  .centeredgrid {
    align-self: center; } }

.portfoliogrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr; }

.hero {
  padding: 2.5vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  transition: color 1500ms; }

.herogrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 0.9rem; }

.herotitle {
  grid-column: 1/4;
  grid-row: 1/1; }

.herotext {
  grid-row: 2/3;
  grid-column: 1/4; }

.herobtnholder {
  grid-column: 1/4;
  grid-row: 3/4;
  justify-self: start; }

footer {
  background-color: #78b5a3; }
  footer h3 {
    margin-bottom: 0.5rem; }

.footer {
  color: #fff;
  min-height: 25vh; }

.footer .brand {
  color: red;
  margin: 0 auto; }

@media (min-width: 850px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr  1fr;
    grid-template-rows: 1fr 50px; }
  .footer .brand {
    width: 100%;
    display: block;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center; }
  footer .social {
    width: 100%;
    justify-self: center;
    color: red;
    grid-row: 2/3;
    grid-column: 1/4; }
    footer .social i {
      margin: 0 2rem 0 2rem; }
  .footer-social:before, .footer-social:after {
    content: "";
    background-color: #78b5a3;
    height: 2px;
    width: 100%;
    position: relative;
    top: 50%; }
  .footer-social:before {
    left: -20px; }
  .footer-social:after {
    right: -20px; } }

/*Parrot Media Branding on Footer */
.pmbrand {
  grid-column: 1/4;
  width: 95%;
  margin: 0 auto;
  text-align: center; }
  .pmbrand a {
    text-decoration: none; }

.pm-branding {
  color: #2fa6d6;
  font-size: 0.8rem; }

.parrotname {
  color: #78b5a3; }

.medianame {
  color: #a2a2a2; }

.parrotname,
.medianame {
  font-weight: 400;
  text-decoration: none; }

/*=========================================*/
.copyright {
  color: #78b5a3;
  font-size: 1.25rem;
  font-family: "Pinyon Script", cursive; }
  .copyright i {
    font-size: 1rem; }

.pricehero {
  background-image: url("img/price-hero.jpg");
  background-color: #e7816d;
  max-height: 50vh; }

.contact-title {
  text-align: center; }

.openinghrs table {
  margin-left: auto;
  margin-right: auto; }
  .openinghrs table td {
    padding: 0 0.5rem 0 0.5rem; }

.openinghrs .opentitle {
  text-align: center; }

.openinghrs p {
  margin-bottom: 0.5rem; }

.openinghrs .day, .openinghrs .hrs {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400; }

.contactdetails {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 1.5rem; }
  .contactdetails ul {
    line-height: 1.7;
    font-family: "Montserrat", sans-serif; }
  .contactdetails li {
    letter-spacing: 1.25px;
    font-size: 1rem;
    word-wrap: break-word; }
  .contactdetails .fa-li {
    color: #78b5a3; }

.abouthero {
  background-image: url("../img/about-hero.jpg");
  max-height: 50vh; }

.contacthero {
  background-image: url("../img/contacthero.jpg");
  background-color: #d6d6d6;
  min-height: 40vh;
  color: white; }
  .contacthero .herotext {
    grid-column: 1/3;
    grid-row: 2/4; }

#response {
  display: none; }

.p-top-0 {
  padding-top: 0; }

.p-bt-0 {
  padding-bottom: 0; }

.p-top-1 {
  padding-top: 1rem; }

.p-tb-2 {
  padding: 3rem 0 3rem 0; }

.p-top-2 {
  padding-top: 3rem; }

.p-bt-1 {
  padding-bottom: 3rem; }

.p-bt-3 {
  padding-bottom: 6rem; }

.p-bt-2 {
  padding-bottom: 1rem; }

.p-1 {
  padding: 1rem; }

.m-b-1 {
  margin-bottom: 1.5rem; }

.m-b-2 {
  margin-bottom: 3rem; }

@media (max-width: 768px) {
  .m-b-2-lg {
    margin-bottom: 3rem; } }

.mt-b-1 {
  margin-bottom: 0.5rem; }

.mp-b-1 {
  margin-bottom: 0.5rem; }

.img-fit {
  width: 100%;
  height: 100%;
  object-fit: cover; }

@media (max-width: 768px) {
  .full-width {
    width: 100%; } }

.pinkbg {
  background-color: #e7816d; }

.accentbg {
  background-color: #9e9e9e; }

.carousel {
  width: 95%;
  max-width: 800px;
  margin: 0 auto; }

.carousel-item {
  width: 100%;
  /* full width */
  height: 250px;
  /* height of carousel */
  margin-right: 10px;
  text-align: center; }

/* smaller, dark, rounded square */
.flickity-button {
  background: #333; }

.flickity-button:hover {
  background: #F90; }

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px; }

/* icon color */
.flickity-button-icon {
  fill: white; }

/* position dots in carousel */
.flickity-page-dots {
  bottom: 0px; }

/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: #78b5a3;
  border: 2px solid white; }

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
  border: 2px solid #78b5a3; }

/* carousel height */
.carousel {
  height: 100%; }

/* cell inherit height from carousel */
.carousel-cell {
  height: 100%; }

.flickity-prev-next-button.next, .flickity-prev-next-button.previous {
  display: none; }

.contacthero {
  background-image: url("../img/contacthero.jpg");
  background-color: #d6d6d6;
  min-height: 40vh;
  color: white; }
  .contacthero .herotext {
    grid-column: 1/3;
    grid-row: 2/4; }

#response {
  display: none; }

.img1 {
  grid-column: 2/11;
  grid-row: 1/3;
  width: 100%; }

.img2 {
  width: 100%;
  grid-column: 10/12;
  grid-row: 2/3;
  opacity: 0.99; }

.img3 {
  width: 100%;
  grid-column: 1/3;
  grid-row: 2/3;
  opacity: 0.99; }

.indexhero {
  background-image: url("../img/indexhero.jpg");
  background-color: #1179AD;
  background-blend-mode: soft-light;
  transition: background-color 1500ms;
  color: #fff; }

.home-scrolled {
  background-color: #fff; }

.indexheroscrolled {
  background-color: #7e7e7e;
  transition: background-color 1500ms; }
  @media (min-width: 800px) {
    .indexheroscrolled {
      color: black; } }

.social {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 1rem; }

.social-icon {
  color: #78b5a3;
  font-size: 2em; }

.social-icon:hover {
  color: rgba(120, 181, 163, 0.7); }

.staff-jobtitle {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300; }

.staff-text {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 200; }

.staff-name {
  font-size: 2rem;
  font-family: "Pinyon Script", cursive;
  font-weight: 300; }

@media (min-width: 768px) {
  .staff-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 1.5rem; }
  .staff-img {
    grid-column: 1/2;
    grid-row: 1/2; }
  .staff-social {
    grid-column: 1/3; } }
