@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-moz-selection {
  /* Code for Firefox */
  color: #fce8e7;
  background: #9e6a5b;
}

*::selection {
  color: #fce8e7;
  background: #9e6a5b;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

body {
  z-index: -1;
}

nav {
  z-index: 1;
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #9e6a5b #fce8e7;
}

body::-webkit-scrollbar-track {
  background: #fce8e7;
}

body::-webkit-scrollbar-thumb {
  background-color: #9e6a5b;
  border-radius: 6px;
  border: 3px solid #fce8e7;
}

.container {
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
  padding: 3rem 0 3rem 0;
}

.containerfw {
  width: 100%;
}

.nav-container {
  width: 95%;
  margin: 0 auto;
}

.staff-container h1, .staff-container p {
  margin: 0.5rem 0 0.5rem 0;
}
.staff-container h1 {
  letter-spacing: 2px;
}
.staff-container p {
  line-height: 1.5;
}

@media (min-width: 768px) {
  .gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .firstitem {
    grid-column: 1/2;
    grid-row: 1/1;
  }

  .seconditem {
    grid-column: 2/3;
    grid-row: 1/1;
  }
}
body {
  font-family: "Playfair Display", serif;
}

.herotitle {
  font-size: clamp(2.5rem, 8vw, 4.5rem);
  margin-bottom: 1rem;
}

.herotext {
  font-size: clamp(1.25rem, 2vw, 2rem);
}

.content {
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: #fce8e7;
  box-shadow: 0px 5px 5px white;
  padding: 0.25rem 0 0.25rem 0;
  height: 80px;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
}
nav a {
  text-decoration: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.brand {
  max-width: 250px;
}

.brand-title {
  font-family: "Pinyon Script", cursive;
  font-size: 2.5rem;
  font-weight: 100;
  color: #9e6a5b;
}

.brand-subtitle {
  margin-left: 65%;
  margin-top: -0.75rem;
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: black;
}

.nav-links {
  list-style-type: none;
  display: flex;
  width: 40%;
  justify-content: space-between;
}
.nav-links a {
  height: 100%;
  position: relative;
  color: #9e6a5b;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 1.25rem;
}
.nav-links a::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: #9e6a5b;
  opacity: 0.8;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 350ms ease;
}
.nav-links a:hover::after, .nav-links a:focus::after {
  transform: scaleX(1);
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: #9e6a5b;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .burger {
    display: block;
    cursor: pointer;
  }

  .nav-links {
    display: none;
    position: absolute;
  }
}
.nav-active {
  position: absolute;
  right: 0px;
  top: 80px;
  background-color: #fce8e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  padding-bottom: 0.5rem;
}
.nav-active li {
  opacity: 0;
  margin: 1.5vh 0 1.5vh 0;
}

@keyframes navlinksfade {
  from {
    opacity: 0;
    transform: translatex(50px);
  }
  to {
    opacity: 1;
    transform: translatex(0%);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.btn {
  padding: 0.25em 1em;
  background-color: #fce8e7;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #9e6a5b;
  border: 1px solid #9e6a5b;
}
.btn:hover {
  opacity: 0.9;
}
.btn:active {
  opacity: 0.9;
}
.btn:focus {
  /*Input Focus Settings*/
  outline: none;
  box-shadow: 0 0 2pt 1pt #E66D4C;
  transition: box-shadow 250ms ease;
}

.herobtn {
  text-transform: uppercase;
  font-size: 1.75rem;
  border: 1px solid #fce8e7;
}
.herobtn:focus {
  box-shadow: 0 0 2pt 1pt #f3e7e7;
}

.card {
  position: relative;
  z-index: -1;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.card img {
  vertical-align: middle;
  width: 500px;
  height: 350px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .cardcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5rem;
  }

  .card img {
    height: 300px;
  }
}
.cardtext {
  position: absolute;
  bottom: 0;
  background: rgba(252, 232, 231, 0.7);
  padding: 2rem;
  color: #9e6a5b;
  width: 100%;
}

.pricelist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

.pricecard {
  border: 1px solid #9e6a5b;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  color: #805d54;
}

.pricecard-body {
  padding: 1.25rem;
}

.pricecard-price, .pricecard-title, .pricecard-text, .pricecard-price-subtitle {
  padding: 1.25rem 0 1.25rem 0;
  text-align: center;
}

.pricecard-title {
  background-color: rgba(252, 232, 231, 0.4);
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  line-height: 0.9;
  text-transform: uppercase;
}

.pricecard-price {
  color: #E66D4C;
  font-size: 2rem;
  font-family: "Pinyon Script", cursive;
}

.pricecard-price-subtitle {
  padding-top: 0;
}

.pricecard-text {
  line-height: 1.35;
  font-family: "Montserrat", sans-serif;
}

.banner {
  text-align: center;
  color: #3b3b3b;
}
.banner h1 {
  font-size: clamp(2.5rem, 5vw, 4.5rem);
}
.banner h3 {
  font-size: clamp(1.5rem, 1.5vw, 2.7rem);
}
.banner p {
  font-size: 1.25rem;
}
.banner h3, .banner p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.form-text {
  display: none;
}

.inputwrapper {
  /*Input Flex Container*/
  display: flex;
  margin-bottom: 1rem;
}

.input-prepend {
  /*Input Icon Helper*/
  width: 40px;
  height: 38px;
  padding: 1rem 1rem;
  color: #9e6a5b;
  background-color: #fce8e7;
  border: 1px solid #9e6a5b;
  border-right: 0;
  border-radius: 0.25rem 0 0 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  /*Basic Input field Settings for all form boxes*/
  padding: 0.375rem 0.75rem;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #9e6a5b;
}

.textarea {
  width: 100%;
  height: 150px;
  padding: 0.375rem 0.75rem;
  resize: none;
  border-radius: 0.25rem;
}

.input:focus {
  /*Input Focus Settings*/
  outline: none;
  box-shadow: 0 0 2pt 1pt #E66D4C;
  transition: box-shadow 250ms ease;
}

.text-input {
  /*Text Box Input Settings*/
  flex-grow: 1;
  width: 100%;
  border-radius: 0 0.25rem 0.25rem 0;
}

.email-input {
  /*email  Input Settings*/
  flex-grow: 1;
  width: 100%;
  border-radius: 0 0.25rem 0.25rem 0;
}

.formrow {
  margin-bottom: 1rem;
}

.formcolumn {
  width: 100%;
  padding: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.formsubmit {
  padding-top: 0;
  padding-bottom: 1em;
}

@media (min-width: 768px) {
  .formrow {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .formcolumn {
    justify-content: space-between;
  }

  .inputwrapper {
    margin-bottom: 0%;
  }
}
.textbox {
  background-color: rgba(252, 232, 231, 0.7);
}

.textbox-title {
  font-size: 2.8rem;
  font-weight: bold;
  color: #9e6a5b;
}

.textbox-text {
  line-height: 1.5;
}

.textbox-subtitle {
  font-size: 1.25rem;
  color: #3b3b3b;
}

.mos--img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.mos-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

footer {
  background-color: #fce8e7;
}
footer h3 {
  margin-bottom: 0.5rem;
}

.footer {
  min-height: 25vh;
}

.footer .brand {
  margin: 0 auto;
}

@media (min-width: 850px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 50px;
  }

  .footer .brand {
    width: 100%;
    display: block;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
  }

  footer .social {
    width: 100%;
    justify-self: center;
    color: red;
    grid-row: 2/3;
    grid-column: 1/4;
  }
  footer .social i {
    margin: 0 2rem 0 2rem;
  }

  .footer-social:before, .footer-social:after {
    content: "";
    background-color: #9e6a5b;
    height: 2px;
    width: 100%;
    position: relative;
    top: 50%;
  }

  .footer-social:before {
    left: -20px;
  }

  .footer-social:after {
    right: -20px;
  }
}
/*Parrot Media Branding on Footer */
.pmbrand {
  grid-column: 1/4;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}
.pmbrand a {
  text-decoration: none;
}

.pm-branding {
  color: #2fa6d6;
  font-size: 0.8rem;
}

.parrotname {
  color: #78b5a3;
}

.medianame {
  color: #a2a2a2;
}

.parrotname,
.medianame {
  font-weight: 400;
  text-decoration: none;
}

/*=========================================*/
.copyright {
  color: #9e6a5b;
  font-size: 1.25rem;
  font-family: "Pinyon Script", cursive;
}
.copyright i {
  font-size: 1rem;
}

.hero {
  background-image: url("../img/eyes.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2.5vh;
  background-color: #F3C6C4;
  background-blend-mode: multiply;
  color: #ffecd1;
}

.herogrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr 50px;
  row-gap: 0.9rem;
}

.herotitle {
  grid-row: 1/1;
  grid-column: 1/4;
}

.herotext {
  grid-row: 2/3;
  grid-column: 1/4;
}

.herobtn {
  grid-column: 1/4;
  grid-row: 4/4;
  justify-self: start;
}

.pricehero {
  background-image: url("../img/price-hero.jpg");
  background-color: #fce8e7;
  max-height: 50vh;
}

.contacthero {
  background-image: url("../img/contact-hero.jpg");
  max-height: 50vh;
}

.contact-title {
  text-align: center;
}

.openinghrs table {
  margin-left: auto;
  margin-right: auto;
}
.openinghrs table td {
  padding: 0 0.5rem 0 0.5rem;
}

.openinghrs .opentitle {
  text-align: center;
}
.openinghrs p {
  margin-bottom: 0.5rem;
}
.openinghrs .day, .openinghrs .hrs {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.contactdetails {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.contactdetails ul {
  line-height: 1.7;
  font-family: "Montserrat", sans-serif;
}
.contactdetails li {
  letter-spacing: 1.25px;
  font-size: 1rem;
  word-wrap: break-word;
}
.contactdetails .fa-li {
  color: #9e6a5b;
}

.abouthero {
  background-image: url("../img/about-hero.jpg");
  max-height: 50vh;
}

.p-top-0 {
  padding-top: 0;
}

.p-bt-0 {
  padding-bottom: 0;
}

.p-top-1 {
  padding-top: 1rem;
}

.p-tb-2 {
  padding: 3rem 0 3rem 0;
}

.p-top-2 {
  padding-top: 3rem;
}

.p-bt-1 {
  padding-bottom: 3rem;
}

.p-bt-2 {
  padding-bottom: 1rem;
}

.p-1 {
  padding: 1rem;
}

.m-b-1 {
  margin-bottom: 1.5rem;
}

.mt-b-1 {
  margin-bottom: 0.5rem;
}

.mp-b-1 {
  margin-bottom: 0.5rem;
}

.img-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .full-width {
    width: 100%;
  }
}
.pinkbg {
  background-color: #fce8e7;
}

.accentbg {
  background-color: #FFD5C3;
}

.carousel {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
}

.carousel-item {
  width: 100%;
  /* full width */
  height: 250px;
  /* height of carousel */
  margin-right: 10px;
  text-align: center;
}

/* smaller, dark, rounded square */
.flickity-button {
  background: #333;
}

.flickity-button:hover {
  background: #F90;
}

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

/* icon color */
.flickity-button-icon {
  fill: white;
}

/* position dots in carousel */
.flickity-page-dots {
  bottom: 0px;
}

/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: #9e6a5b;
  border: 2px solid white;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
  border: 2px solid #9e6a5b;
}

/* carousel height */
.carousel {
  height: 100%;
}

/* cell inherit height from carousel */
.carousel-cell {
  height: 100%;
}

.flickity-prev-next-button.next, .flickity-prev-next-button.previous {
  display: none;
}

.social {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.social-icon {
  color: #9e6a5b;
  font-size: 2em;
}

.social-icon:hover {
  color: rgba(158, 106, 91, 0.7);
}

.staff-jobtitle {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.staff-text {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

.staff-name {
  font-size: 2rem;
  font-family: "Pinyon Script", cursive;
  font-weight: 300;
}

@media (min-width: 768px) {
  .staff-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 1.5rem;
  }

  .staff-img {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .staff-social {
    grid-column: 1/3;
  }
}

/*# sourceMappingURL=styles.css.map */
