

/// Colours
$primarycol: #3B695B;
$secondcol: #78b5a3;
$darkcol: #364B44;
$accentcol: rgba(236, 236, 236,1);
$grey:#f3f3f3;
$herobgblend: #c9c9c9;
$text-light:#696969;
$highlighttext: $secondcol;
$focuscolor: $primarycol;
$pricecardtext:#805d54;
$lightcolor1: rgb(36, 36, 36);

/// Standard Padding use for banners etc
$stdpadding: 3rem;

/// Narrow Padding use for text boxes etc
$narrowpadding: 1rem;

///Standard Margin 
$stdmargin: 3rem;

///Narrow Margins
$narrowmargin: 1.5rem;


//Hero Colors - Client colour schemes and fonts

$clientprimary: #be7d36;
$clientsecondary: #f1f1f1;
$clientbg: #0a0b04;

//Box Shadow

$box-shadow: 7px 10px 20px -7px rgba(0,0,0,0.64);

//Heights

$navbar-height: 70px;

//Site Width Setting

//Max Content width

$max-width: 1500px;