

/// Colours
$primarycol: #78b5a3;
$secondcol: #e7816d;
$accentcol: #9e9e9e;
$grey:#cecece;
$herobgblend: #c9c9c9;
$text-light:rgb(233, 233, 233);
$highlighttext: #E66D4C;
$focuscolor: #E66D4C;
$pricecardtext:#805d54;
$lightcolor1: rgb(36, 36, 36);
$notscrolledbg: #1179AD;

/// Standard Padding use for banners etc
$stdpadding: 3rem;

/// Narrow Padding use for text boxes etc
$narrowpadding: 1rem;

///Standard Margin 
$stdmargin: 3rem;

///Narrow Margins
$narrowmargin: 1.5rem;
