

.card{ //card with a background image
    position: relative;
    z-index: -1;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    img{
        vertical-align: middle;
        width: 500px;
        height:350px;
        object-fit: cover;
    }
}


@media (min-width:768px){
    .cardcontainer{
      
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1.5rem;
        
    }

    .card img{
        height: 300px;
    }
}
.cardtext{
    position: absolute;
    bottom: 0;
    background: rgba($secondcol,0.7);
    padding: 2rem;
    color: $primarycol;
    width: 100%;
}

//PriceList Container
.pricelist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}
// Price Cards

.pricecard{
  border: 1px solid $primarycol;
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
  color: $pricecardtext;
}


.pricecard-body{
  padding: 1.25rem;
}

.pricecard-price, .pricecard-title, .pricecard-text, .pricecard-price-subtitle{
  padding: 1.25rem 0 1.25rem 0;
  text-align: center;
}
.pricecard-title{
  background-color: rgba($secondcol, 0.4);
  font-size: 1.1rem;
  font-family: $sanserif;
  line-height: 0.9;
  text-transform: uppercase;
}
.pricecard-price{
  
  color: $highlighttext;

  font-size: 2rem;
  font-family: $handwriting;
}
.pricecard-price-subtitle{
  padding-top: 0;
}

.pricecard-text{
  line-height: 1.35;
  font-family: $sanserif;
}

// Feature card with an adjacent icon and a block of text to the right

.featurecard{
  display: flex;
  align-items: baseline;
  gap: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  i{
    font-size: 2rem;
  }
  
}
.featurecard-text{
  font-weight: 300;
}
.featurecard-icon{
  color: $secondcol;
}
.featurecard-title{
  font-size: 2rem;
}

//Services Card with features ticked or unticked
.servicecardgrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-template-rows: 1fr;
  gap: 1.5rem;
}

.servicecard{
  border-top: 5px solid $primarycol;
  border-radius: 0.25rem;
  
}

.servicecard-header,
.servicecard-pricing,
.servicecard-features,
.featurecard-cta{
  border-bottom: 1.5px solid $secondcol;
  padding: 1.5rem;
}

.servicecard-features{
  ul{
    list-style-type: none;
  }
  
}
.active,
.inactive{
  

&::before
{
    display: inline-block;
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f00c";
  margin-right: 0.25rem;
  font-size: 0.9rem;
  width: 1rem;
}
}

.inactive{
  color:rgb(146, 145, 145);
  &::before{
  content: "\f00d";
  }
}
