/// Form Control Styles

.form-text{
    display: none;
  }
  .inputwrapper{/*Input Flex Container*/
    display: flex;
    margin-bottom: 1rem;
  }
  

  .input-prepend,
  .input,
  button{
    background-color: rgb(250, 250, 250);
    border: 1px solid $secondcol;
    font-family: $bodytext;
    &:focus{
      background: rgb(255, 255, 255);
    }

    
  }

 
  .input-prepend{ /*Input Icon Helper*/
    width: 40px;
    height: 38px;
    padding:1rem 1rem;
    color: $secondcol;
  
  border-right: 0;
  border-radius: 0.25rem 0 0 0.25rem;
  display: flex;
  align-items:center;
  justify-content: center;
  
  }
  

  .input{ /*Basic Input field Settings for all form boxes*/
   
    padding:.375rem .75rem;
    
    border: 1px solid $secondcol;
  }
  
  .textarea{
    width: 100%;
    min-height: 250px;
    margin-bottom: 1rem;
    padding:.375rem .75rem;
    resize: none;
    border-radius: 0.25rem;
    @media (min-width:768px) {
      min-height: 0;
      margin-bottom: 1rem;
      height: 100%;
    }
  }
  
  .input:focus{ /*Input Focus Settings*/
    outline: none;
    box-shadow: 0 0 2pt 1pt $focuscolor;
      transition: box-shadow 250ms ease;
  }
  
  .text-input{ /*Text Box Input Settings*/
    
    flex-grow: 1;
    width: 100%;
    
    border-radius: 0 0.25rem 0.25rem 0;
  }
  
  .email-input{ /*email  Input Settings*/
    
    flex-grow: 1;
    width: 100%;
    border-radius: 0 0.25rem 0.25rem 0;
  }
  
  .formrow{
    margin-bottom: 1rem;
  }
  
  .formcolumn{
    
    width: 100%;
    padding: 0 5px 0 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    
  }
  
  .formsubmit{
    padding-top: 0;
    padding-bottom: 1em;
  }


  @media (min-width:768px){
    
  .formrow{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  
}

.formcolumn{
justify-content: space-between;
}

.inputwrapper{
margin-bottom: 1rem;
}


}


// Check Box Settings
.form-check{
  display: block;
  
  
}


.check-input,
.check-label{
  appearance: none;
  cursor: pointer;
  color: inherit;
}
.check-input{
  margin-right: 0.5em;
  width: 1rem;
  height: 1rem;
  border: 1px solid $secondcol;
  border-radius: 0.25rem;
  
  &:checked{
    
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
  }
  &:focus{
    outline: none;
    box-shadow: 0 0 2pt 1pt $focuscolor;
      transition: box-shadow 250ms ease;
  }
}

.check-label{
  display: block;
 
}

// radio button settings
.form-radio{
  border: 1px solid $secondcol;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  &:hover{
    background-color: rgba(236, 236, 236, 0.685);
    box-shadow: 0 0 2pt 1pt $focuscolor;
      transition: box-shadow 250ms ease;
  }
  
}
.radio-input,
.radio-label{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
 appearance: none;
  cursor: pointer;
  
}
.radio-input{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  margin-right: 0.5em;
  width: 1rem;
  height: 1rem;
  border: 1px solid $secondcol;
  border-radius: 50px;
  
  &:checked[type=radio]{
    background-image: url("../img/dot-circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
  
    
  }
  &:focus{
    outline: none;
    box-shadow: 0 0 2pt 1pt $focuscolor;
      transition: box-shadow 250ms ease;
  }
}

.radio-label{
  display: block;
 
}
