.textbox{
    padding: 4rem 2rem 4rem 2rem;
  }
  .textbox-title{
    font-size: 2.8rem;
    font-weight: bold;
    color: $secondcol;
  }
  
  .textbox-text{
    line-height: 1.7;
    font-weight: 300;
  }
  
  .textbox-subtitle{
    font-size: 1.25rem;
    color: $lightcolor1;
  }

  .centered{
    //aligns content in the middle of textbox when on larger screens
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  
 