.textbox{
    //background-color: rgba($secondcol, .7);
  }
  .textbox-title{
    font-size: 2.8rem;
    font-weight: bold;
    color: $primarycol;
  }
  
  .textbox-text{
    line-height: 1.5;
  }
  
  .textbox-subtitle{
    font-size: 1.25rem;
    color: $lightcolor1;
  }

  .centered{
    //aligns content in the middle of textbox when on larger screens
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .curvedbg{
    background-color: rgb(224, 9, 9);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 0;
    position: relative;
  }

  .curvedbgitem2{
    // places the adjacent image over the top of
  }