:target {
scroll-margin: 50px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-moz-selection { /* Code for Firefox */
  color: $secondcol;
  background: $primarycol;
}

*::selection {
  color: $secondcol;
  background: $grey;
}

a{
  text-decoration: none;
  color: #3f5f55;;
  font-size: 1.25rem;
  &:hover{
    text-decoration-line: underline;
    opacity:0.8;
  }
  &:focus{
    outline-color: $primarycol;
    text-decoration-line: underline;
  }
  &:active{
    outline-color: $primarycol;
    text-decoration-line: underline;
  }
}

.activelink{
  color: $secondcol;
    text-decoration-line: underline;
}
img{
    max-width: 100%;
    vertical-align: middle;
}

body{
  margin-top: 70px;
    z-index: -1;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


nav{
    z-index: 1;
}



html {
    $scrollbarBG: #fff;
    $thumbBG: $primarycol;
  }
  body::-webkit-scrollbar {
    width: 15px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: #fff $secondcol;
    
  }
  body::-webkit-scrollbar-track {
    background: #fff;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #fff ;
    border-radius: 6px;
    border: 3px solid $secondcol;
  }

  
 // featured client hero images
.hero{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 padding: clamp(6.5vw,3rem,8rem);
 min-height: 50vh;
 background-color: #6e6e6e;
 background-blend-mode: soft-light;
  color:$text-light;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;

}

.heronew{
  background-color: $secondcol;
  
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  color: black;
 .herotitle{
  font-size: clamp(3rem, 8vw, 4rem);
  font-weight: 800;
 }
 .herosubtitle{
  font-size: 1.7rem;
 }
 
 .herotext{
  font-size: 1.25rem;
 }
}



.herotextbody{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .herobtn{
      place-self: start;
  }
 
}

.herotitle{
  font-size: clamp(2rem, 8vw, 2.5rem);
  margin-bottom: 0;
  font-weight: 100;
}

.herotext{
  font-size: clamp(1rem, 2vw, 1rem);
  line-height: 1.6;
}


.attr a{
  color: $clientprimary;
  

&:hover{
  
  opacity: 1;
}
}

hr{
  color: $primarycol;
  box-shadow: $box-shadow;
}
