*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-moz-selection { /* Code for Firefox */
  color: $secondcol;
  background: $primarycol;
}

*::selection {
  color: $secondcol;
  background: $primarycol;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

body{
    z-index: -1;
}


nav{
    z-index: 1;
}



html {
    $scrollbarBG: $secondcol;
    $thumbBG: $primarycol;
  }
  body::-webkit-scrollbar {
    width: 11px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: $primarycol $secondcol;
  }
  body::-webkit-scrollbar-track {
    background: $secondcol;
  }
  body::-webkit-scrollbar-thumb {
    background-color: $primarycol ;
    border-radius: 6px;
    border: 3px solid $secondcol;
  }

 