@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

body{
    font-family: 'Playfair Display', serif;
}

$sanserif: 'Montserrat', sans-serif;
$serif: 'Playfair Display', serif;
$handwriting: 'Pinyon Script', cursive;

.herotitle{
    font-size: clamp(2.5rem, 8vw, 4.5rem);
    margin-bottom: 1rem;
}

.herotext{
    font-size: clamp(1.25rem, 2vw, 2rem);
}

.content{
    font-family: $sanserif;
}