.contacthero{
    background-image: url("../img/contactus.svg");
  background-position:   center;
  background-size:contain;
  background-position: right;
  background-color: #fff;
    min-height: 50vh;
    color: rgb(255, 255, 255);
    .herotext{
        grid-column:1/3;
        grid-row: 2/4;
    }
    
}

#response{
    display: none;
}

.privacynotice{
    a{
        font-size: 1rem;
    }
}