.hostinghero{
    background-image: url("../img/hosting-hero.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   padding: clamp(6.5vw,3rem,8rem);
   min-height: 50vh;
   background-color: #6e6e6e;
   background-blend-mode: soft-light;
    color:$text-light;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;

   
   
}


