.portfoliohero{
    background-image: url("../img/portfoliohero.svg");
  background-position:   center;
  background-size:contain;
    min-height: 40vh;
    color: rgb(255, 255, 255);
    
    
}


.portfolio-grid{
    gap: 1rem;
}


.portfolio-body{
    border: 1px solid $secondcol;
    border-radius: $border-radius;
    transition: box-shadow 300ms ease-in-out;
    &:focus{
        box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
        0 2px 2px rgba(0,0,0,0.12), 
        0 4px 4px rgba(0,0,0,0.12), 
        0 8px 8px rgba(0,0,0,0.12),
        0 16px 16px rgba(0,0,0,0.12);
        transition: all 300ms ease-in-out;
    }
    @media (hover: hover){
    &:hover{
       
        box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
        0 2px 2px rgba(0,0,0,0.12), 
        0 4px 4px rgba(0,0,0,0.12), 
        0 8px 8px rgba(0,0,0,0.12),
        0 16px 16px rgba(0,0,0,0.12);
        transition: all 300ms ease-in-out;
    }
}
}

.portfolio-title{
    padding: 2rem;
    background-color: rgb(243, 243, 243);
}

.portfolioimg{
    width: 100%;
}

.portfolio-content{
    padding: 2rem;
}
