.portfoliohero{
    background-image: url("../img/portfoliohero.svg");
  background-position:   center;
  background-size:contain;
    min-height: 40vh;
    color: rgb(255, 255, 255);
    
    
}


.portfolio-grid{
    gap: 1rem;
}


.portfolio-body{
    border: 1px solid $secondcol;
    
}

.portfolio-title{
    padding: 2rem;
    background-color: $grey;
}

.portfolioimg{
    width: 100%;
}

.portfolio-content{
    padding: 2rem;
}
