.quotehero{
    background-image: url("../img/request_quote.svg");
  background-position:   center;
  background-size:contain;
  background-color: #fff;
    height: 40vh;
}

#response{
    display: none;
}