.header-banner{
    background-color: $accentcol;
}

.ad-banner{
    width: 95%;
    margin: auto;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 0.25rem;
    padding: 0.5rem 0 0.5rem 0;
    p{
        font-size: 1.5rem;
        color: #fff;
    }
    a:hover{
        text-decoration-line:none;
        background-color: #fff;
    }
}

.ad-btn{
    background-color: $primarycol;
    padding: 0.25rem 2rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    color: black;
  
    
}

@media (max-width: 768px){
    .ad-btn{
    font-size: 1.25rem;
    }
    .ad-banner-text1{
        display: none;
    }

}

@media (min-width: 768px){
    .ad-banner-text2{
        display: none;
    }
}

