

.footer{
    border-top: 1px solid $secondcol;
    min-height: 25vh;
}

 .footer .brand{
     color: red;
    margin: 0 auto;
}

.footergrid{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    gap: 0.5rem;
}

.footer-group{
    li{
        color: $text-light;
        list-style-type: none;
        line-height: 1.7;
    }
}









 

        // Customer Copyright

        .copyright{
        color:$primarycol;
        font-size: 1.25rem;
        font-family: $handwriting;
        i{
            font-size: 1rem;
        }
        }

        