

// Price List Page

.pricehero{
    background-image: url("img/price-hero.jpg");
    background-color: $secondcol;
    max-height: 50vh;
}

// Contact Page



.contact-title{
    text-align: center;
}
.openinghrs table{
    margin-left: auto;
    margin-right: auto;
    td{
        padding: 0 0.5rem 0 0.5rem;
    }
}


.openinghrs{
    .opentitle{
        text-align: center;
    }
    
    
    p{
        margin-bottom: 0.5rem;
    }
    .day, .hrs{
        font-family: $sanserif;
        font-size: 1rem;
        font-weight: 400;
    }
}

.contactdetails{
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    
    ul{
        
        line-height: 1.7;
        font-family: $sanserif;
    }
    li{
        letter-spacing: 1.25px;
        font-size: 1rem;
        word-wrap: break-word;
    }
    .fa-li{
        color: $primarycol;
    }
}
// About Page

.abouthero{
    background-image: url("../img/about-hero.jpg");
    //background-color: $secondcol;
    max-height: 50vh;
}

