//Nav Design 2

nav{
    
    padding: 0.25rem 0 0.25rem 0;
    //height: 70px;  
    height: 70px;
    //position: -webkit-sticky; /* Safari */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 25;
a{
    display: inline-block;
    text-decoration: none;
    //margin: 0 1rem 0 1rem;
}
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   height: 100%;

}
.brand{
    max-width: 250px;
}


.nav-links{
    list-style-type: none;
    display: flex;
    width: 60%;
   justify-content: space-between;

   a{
        height: 100%;
        position: relative;
       color: black;
       text-decoration: none;
       letter-spacing: 2px;
       font-size: 1.25rem;
   }
   a::after{
       content: "";
       position: absolute;
       bottom: 0px;
       left: 0;
       width: 100%;
       height: 1.5px;
    background-color: $secondcol;
       opacity: 0.8;
       transform:scaleX(0);
       transform-origin: center;

       transition: transform 350ms ease;
   }
  a:hover::after, a:focus::after{
    transform:scaleX(1);
  }
   
}


.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 2px;
    background-color: $primarycol;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: $stdnavbp) {
    
    .burger{
        display: block;
        cursor: pointer;
    }
    
    .nav-links{
       display: none;
       position: absolute;
       
    }
}

.nav-active{
    position: absolute;
    right: 0px;
    top: 70px;
    background-color: rgba(255, 255, 255, 0.979);
   display: flex;
   flex-direction: column;
    align-items: center;
   
    

    width: 100%;
    padding-bottom: 0.5rem;
    
   li{
      opacity: 0;
       margin: 1.5vh 0 1.5vh 0;
       
   }

}

@keyframes navlinksfade {
    from{
        opacity: 0;
        transform:translatex(50px);
    }

    to{
        opacity:1;
        transform:translatex(0%)
    }
} 


.toggle .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-5px);
}

.nav-not-scrolled{
   background-color: #ffffff;
    
    transition: all 1500ms ease;
    
  }

  
.scrolled{
    
    background-color: red;
    
}

.nav-scrolled{
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 3px 3px rgba($primarycol, 0.9);
    
    transition:  1500ms;
    

}

.navbtn{
    outline: none;
    box-shadow: 0 0 0;
    background: none;
    border: none;
   @media (max-width:769px){
       background: #fff
   }
}
@media (min-width:$stdnavbp){
.sub-menu-xl{
    
    //position: relative;
    cursor: pointer;
    pointer-events: all;
}

.sub-menu-content-xl{
    
    
    padding: 0.75rem;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5rem;
    align-items: center;
    position: absolute;
    //left: 50%;
    background-color: #fff;
    border-radius: 0.15rem;
    opacity: 0;
    border: 1px solid $secondcol;
    -webkit-transform: translatey(-10px);
    transform: translatey(-10px);
    z-index: 500;
    pointer-events: none;
    transition: all 0.4s ease;
    
        &::before{
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            content: "";
            height: 1rem;
            width: 1rem;
            border-radius: 0.15rem;
            border: 1px solid $secondcol;
            background: #fff;
            position: absolute;
            top: -0.25rem;
            z-index: -1;
        }

}
.sub-menu-xl:focus + .sub-menu-content-xl {
    opacity: 1;
    pointer-events: all;
    transform: translatey(0);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

}


@media (max-width: $stdnavbp){

    .sub-menu-content{
        
        display: none;
       
    a{
        width: max-content;
        text-align: center;
        margin: 0 auto;
    }
    }
    .sub-menu{
        
        //position: absolute;
        width: 100vw;
        text-align: center;
        cursor: pointer;
    }
    .sub-menu-wrapper{
    background-color: $grey;
    }
    
}


@media (max-width: $stdnavbp){
.sub-menu-active{
    position: relative;
   width: max-content;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 0.5rem;
    margin: 0 auto;
    margin-top: 0.5rem;
}

}


