//main content container
.container{
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
    padding:3rem 0 3rem 0;
}

// full width container
.containerfw{
width: 100%;

}

.nav-container{
    width: 95%;
    margin: 0 auto;
}



.staff-container{
    h1, p{
        margin:0.5rem 0 0.5rem 0;
    }
    h1{
        letter-spacing: 2px;
    }
    p{
        line-height: 1.5;
    }
}

//CSS Grid for 2 column layouts. Equal size columns and 1 row
@media (min-width: 768px){
    .gridcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    // Use these to specify the order in which they appear
    .firstitem{
        grid-column: 1/2;
        grid-row: 1/1;
    }

    .seconditem{
        grid-column: 2/3;
        grid-row: 1/1;
    }

}