

/// Colours
$primarycol: #9e6a5b;
$secondcol: #fce8e7;
$herobgblend: #F3C6C4;
$text-light:rgb(255, 236, 209);
$highlighttext: #E66D4C;
$focuscolor: #E66D4C;
$pricecardtext:#805d54;
$lightcolor1: rgb(59, 59, 59);
$accentcol: #FFD5C3;
/// Standard Padding use for banners etc
$stdpadding: 3rem;

/// Narrow Padding use for text boxes etc
$narrowpadding: 1rem;