//main content container
.container{
    width: 95%;
    max-width: $max-width;
    margin: 0 auto;
    padding:3rem 0 3rem 0;
}

// full width container
.containerfw{
width: 100%;

}

.nav-container{
    width: 95%;
    margin: 0 auto;
}




.staff-container{
    h1, p{
        margin:0.5rem 0 0.5rem 0;
    }
    h1{
        letter-spacing: 2px;
    }
    p{
        line-height: 1.5;
    }
}



 .banner{
    
    
    text-align: center;
   color: $lightcolor1;
    h2, h1{
       font-size: clamp(2.5rem, 5vw, 4.5rem);
    }
    h3{
      font-size: clamp(1.5rem, 1.5vw, 2.7rem);
    }
    p{
        font-size: 2rem;
        font-weight: 200;
    }
    h3, p{
        font-family: $bodytext;
       
    }

}

.row{
margin-inline: 1rem;
display: flex;
flex-direction: column;
gap: 1rem;
}



@media(min-width: 768px){
    .row{
        flex-direction: row;

    }
    .col-3{
        width: 33.33%;
        flex: 0 0 auto;
    }

    .col{
        width: 50%;
    }

    .col-auto{
        max-width: max-content;
    }
    //Full width column
.col-full{
    width: 100%;
    background-color: red;
}
}

///Paralax Container, Set bg img on each page with a unique #ID
.paralax{
    padding: 1rem;
    @supports(background-attachment:fixed){
        background-attachment: fixed;
    }
    
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

