//CSS Grid for 2 column layouts. Equal size columns and 1 row
@media (min-width: 800px){
    .gridcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 2rem;

    }

    
    // Use these to specify the order in which they appear
    .firstitem{
        grid-column: 1/2;
        grid-row: 1/1;
        z-index: 1;
    }

    .seconditem{
        grid-column: 2/3;
        grid-row: 1/1;
        z-index: 1;
    }
    .centeredgrid{
        align-self: center;
    }
}


    .gridcontainer{        
        display: grid;
     
        gap: 2rem;

    }


// CSS Grid for index page to overlap portfolio images etc

.portfoliogrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

// Default Hero Settings
.hero{
    
     padding: 6.5vw;
   

 }

 //Css Grid Auto grid columns

 .servicegrid{
    display: grid;
    
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 0.0625em;
    margin-bottom: 1rem;
    margin-top: 1rem;
 background-color: rgba($primarycol,1);
  border: 0.0625em solid $primarycol;
 }
 
 @media (min-width: 800px){
     .servicegrid{
        grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
     }
 }

 




 