






.mos--img{
 width: 100%;
 height: 300px;
  object-fit: cover;
  
}




  .mos-container{
    margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px,1fr))
  }
  

