






.mos--img{
 height: 100%;
  object-fit: cover;
  place-self: center;
}




  .mos-container{
    width: 80%;
    margin: 0 auto;
      display: grid;
      gap: 1.5rem;
      grid-template-columns: repeat(auto-fit, minmax(400px,1fr))
  }
  

